.c1{
  /*font-family: arial, helvetica, sans-serif;*/
  position: absolute;
  font-family: 'Lucida Sans Unicode';
  border: solid 0.5px ;
  margin: 150px 0px 0px 150px;
}
.header{
  background-color: #F1C40F;  
  border: solid 3px black;
  display: inline-block;
  width:900px;
  height:55px;
  margin:0px;
}
button{ 
  display: inline-block;
}
.button{
  background-color: #80d4ff; 
  border: solid 3px black;
  display: inline-block;
  width:200px;
  height:55px;
  position: absolute;
  color: black;
}
.button-color:hover{
  background-color: #29855b;
}
.button-color:active{
  background-color: #985f78;
}
.name{
  background-color: #EC7063;
  border: solid 3px ;
  height:50px;

}
.izquierda{
  background-color: #79a6d2;
  border: solid 3px ;
  display: inline-block;
  width:392px;
  height:300px;
  margin:0px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.medio{
  background-color: #00b3b3;
  border: solid 3px ;
  display: inline-block;
  width:392px;
  height:300px;
  margin:0px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.derecho{
  background-color: #ffa31a; 
  border: solid 3px ;
  display: inline-block;
  width:392px;
  height:300px;
  margin:0px;
  overflow-y: scroll;
  overflow-x: hidden;
  background: red;
  transition: width 2s, height 4s;
  background-image: linear-gradient(red, yellow);
  border-radius: 2.5%;
}

.derecho:hover{
  width: 300px;
  height: 300px;
}

.footer{
text-align: center;
background-color: #66cc66;
border: solid 3px ;
height: 50px;
background:rgb(142, 206, 142);
padding-top: 15px;
text-align: center;
}

.textoPiePagina{
font-size: 0.9rem;
}

.h1{
  color: #00b3b3;
}
.Colegio{
  color: rgb(114, 54, 141);
}
.Lenguajes{
  color: rgb(83, 44, 147); 
}
.Pasatiempos{
  color: indigo;
}
